<nav class="nav-side-menu   navbar-expand-lg">
  <%= render partial: 'layouts/side_menu_header' %>
  
  <div id="menu-content" class="navbar-collapse collapse">
    <div class="nav-side-container">
      <ul class="navbar-nav flex-column">
        <%= render partial: 'layouts/side_menu_main_content' %>
        
        <li class="nav-item">
          <a class="nav-link" href="#" aria-expanded="false">
            <%= theme_icon_tag "layout-menu-v" %>
            <span>My Events</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav-item nav-second-level collapse" aria-expanded="false">
            
            <% @user_events&.each do |ue| %>
              <li class="nav-item">
                <a href="#" class="nav-link" aria-expanded="false">
                  <span><%= ue.event_name %></span>
                  <span class="fa arrow"></span>
                </a>
                <ul class="nav-item nav-third-level collapse">
                  <% ue.event.users.each do |user| %>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><%= user.email %></a>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
